<%- include('../partials/userHeader') %>
<section class="cart" style="background-color: #f5f5f5">
  <div class="container pb-5">
    <% if(cart !== null && cart.items.length > 0) { %>
    <div class="row pt-md-4">
      <div class="col-md-6">Item</div>
      <div class="col-md-2 text-center">QUANTITY</div>
      <div class="col-md-2 text-center">UNIT PRICE</div>
      <div class="col-md-2 text-center">SUBTOTAL</div>
    </div>
    <% products.forEach(p => { %>
    <div class="row pb-md-2">
      <div class="card mb-3" style="width: 100%">
        <div class="row">
          <div class="col-md-1">
            <img src="<%= p.imagePath %>" class="img-fluid rounded-start" alt="<%= p.title %> " />
          </div>
          <div class="col-md-5 border-end">
            <p>Product-code: <span class="fs-6"><%= p.productCode %> </span></p>
            <div class="card-bod">
              <h5 class="card-title"><%= p.title %></h5>

              <div>
                <form action="/cart/<%= p._id %>?_method=DELETE" method="post">
                  <button type="submit" class="btn btn-link text-decoration-none" id="clear-cart">
                    Remove
                  </button>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-2 text-center border-end pt-3">
            <ul class="list-inline pb-3">
              <input type="hidden" name="id" value="<%= p._id %>" id="product-id" />
              <li class="list-inline-item"><span class="btn btn-success" id="btn-minus">-</span></li>
              <li class="list-inline-item">
                <span class="badge bg-secondary" id="var-value"><%= p.qty %></span>
              </li>
              <li class="list-inline-item"><span class="btn btn-success" id="btn-plus">+</span></li>
            </ul>
          </div>
          <div class="col-md-2 text-center border-end pt-3"><%= p.price %></div>
          <div class="col-md-2 text-center pt-3"><%= p.totalPrice %></div>
        </div>
      </div>
    </div>

    <% }) %>
    <div class="row mb-2 mt-4">
      <div class="col-6 offset-6 text-end">
        <p class="justify-content-end align-content-end"><span class="me-5">Total:</span> <span
            class="m">$<%= cart.totalCost %> </span>
        </p>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-10 offset-2 text-end ">
        <a href="tel:+2340806896" class="btn btn-outline-light text-success text-uppercase shadow-sm me-2">Call to
          order: +2340806896</a>
        <a href="/checkout" class="btn btn-warning text-uppercase">Proceed To checkout</a>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-10 offset-2 text-end ">
        <form action="/clear-cart?_method=DELETE" method="post">
          <button class="btn btn-danger text-uppercase" type="submit" id="clear-cart">Clear Carts</button>
        </form>
      </div>
    </div>
    <% } else { %>
    <div class="row p-4 empty-cart">
      <div class="col-12">
        <p class="fw-bold display-1">Cart</p>
      </div>
      <div class="empty-cart__content">
        <div class="cart-logo"><i class="fas fa-cart-plus fa-2x"></i></div>
        <p class="lead text-muted">Nothing in the Cart. start to shop</p>
        <% if(!currentUser) {%>
        <p class="lead text-muted">
          Already have an account? <a href="/login" class="text-warning text-decoration-none">Login</a> to see
          the items in your cart.
        </p>
        <% } %>
        <a href="/products" class="btn btn-warning text-capitalize">start shopping</a>
      </div>
    </div>
    <% } %>
  </div>
</section>
<%- include('../partials/footer') %>